/* Navbar CSS Starts */
h1 {
    font-size: 32px;
}

.second-part ul, li,
.right-side ul, li {
    color: black;
    display: flex;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.items {
    display: flex;
    width: 100%;
    height: 22vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: absolute;
    bottom: 100px;
}
.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    /* height: 70vh; */
    margin-top: 30px;
}
.courses_card {
    margin: 40px 10px;
    position: relative;
    /* background-color: red; */
    /* height: auto; */
    width: 380px;
    height: 200px;
    
    /* border-radius: 20px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    box-shadow: 2px 2px 20px grey;
    
}
.course_name {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    position: absolute;
    top: -39px;
    width: 100%;
    font-size: 20px;
    padding: 5px 0;
    background-color: #223378;
    text-align: center;
}
.courses_img {
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    /* align-items: center; */
    width: 380px;
    /* height: 350px; */
}
.courses_img img{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}




a {
    text-decoration: none;
    /* color: black; */
    /* color: none; */
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}



.right-side .hamburger {
    line-height: 3.9;


}

.right-side .hamburger li {
    color: white;
    text-decoration: none;
    padding-left: 30px;
}

nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 64px;
    background-color: #223378;
    padding: 0 20px;
    /* z-index: 1; */
}

.left-side {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.logo {
    /* display: flex;s */
    /* margin: 0 30px; */
    margin-top: 5px;
}
.second-part ul li{
    color: black;
}
.logo {
    width: 60px;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.searchbar {
    /* line-height: 4.0; */
    margin-top: 15px;
    display: flex;
    margin-left: 50px;
}

.text {
    /* line-height: 2s; */
    font-size: 16px;
    position: relative;
    border-radius: 10px;
    outline: none;
    border: none;
    /* box-shadow: inset 0px 1px 15px grey; */
    padding: 16px 20px;
    padding: 16px 10px;
    height: 52%;
    /* width: 190%; */
}
.browse {
    line-height: 1.2;
}

.fa-search {
    display: flex;
    background-color: #18c0ff;
    height: 66%;
    color: white;
    font-weight: 600;
    margin: 0px 4px;
    border-radius: 8px;
    font-size: 20px;
    /* justify-content: center; */
    padding: 7px 20px;
/* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #18c0ff;
    color: white;
    font-size: 16px;
    padding: 16px 20px;  
    width: 20%;
    margin-left: 4px;
    height: 52%; */
}

.right-side ul li a {
    padding-left: 30px;
    font-size: 18px;
    line-height: 3.4;
}

.right-side {
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
}

section .first-part {
    width: 80px;
}

.cross {
    display: none;
}

.nav-2 {
    width: 100%;
    display: flex;
    padding: 0 20px;
    justify-content: space-evenly;
    align-items: center;
    background: white;
}

.first-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.icon-up {
    display: flex;
    align-items: center;
}

/* .nav-2 .icon-up {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15px;
    left: -36px;
    line-height: 3.9;
} */


.nav-2 .first-part span {
    font-weight: bold;
    font-size: 17px;
    padding-right: 20px;
}

.second-part {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin: 0 auto; */
}

.second-part ul li a {
    font-family: 'Poppins';
    color: rgb(107, 107, 107);
    font-size: 16px;
    padding-left: 4px;
    padding-top: 15px;
}

.three-lines {
    display: none;
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 11px;
    border: 1px solid white;
    padding: 5px 10px;
    line-height: 1;
    border-radius: 5px;
}

.three-lines i {
    color: white;
    font-size: 30px;
}



@media screen and (max-width: 425px) {
    .imageofteam {
        width: 384px;
        height: 216px;
    }
    .team_firstpart h2 {
        font-size: 38px;
    }
    .contact2_portions {
        flex-direction: column;
    }
    .paragraph p {
        display: flex;
    }
    
    .three_portion {
        width: 100%;
    }

    .contact2_form {
        width: 94%;
        margin: 15px;
    }
    .card {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 4px #c3c3c3;
        width: 76%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }

    .first-item, .second-item, .third-item {
        width: 83.3%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: space-between;
        padding: 16px 20px;
        border-radius: 20px;
        margin: 23px;
        box-shadow: 2px 2px 12px rgb(17 13 13);
        /* align-items: center; */
    }

    .section-3 {
        margin-top: 55px;
        padding: 0 20px;
        text-align: center;
        margin-bottom: 50px;
        /* display: flex; */
    }

    .university-images {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-wrap: wrap;
        flex-direction: row;
    }

    .image {
        margin: 10px;
        width: 162px;
        height: 162px;
        /* border: 15px solid rgb(240, 240, 240); */
        padding: 19px;
        border-radius: 20px;
    }

    .third-heading button {
        margin: 0 auto;
        background-color: #223378;
        color: white;
        text-align: center;
        padding: 10px 10px;
        font-size: 20px;
        border-radius: 15px;
        font-weight: 600;
        width: 53%;
        margin-bottom: 10px;
    }

  

    .card {
        margin: 10px;
        width: 78%;
    }

    .slide {
        height: 68vh;

    }

    .scroll-portion {
        position: absolute;
        top: 54px;
        left: 21%;
    }

    .slide img {
        /* height: 230px; */
        border-radius: 0px;

    }
    .last-container {
        height: 114vh;
    }

    .footer-content {
        top: 204px;
        padding-left: 13px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footerpoints-1 ul {
        padding-left: 22px;
        border-left: 1px solid white;
        border-right: none;
    }

    .footerpoints-2 ul {
        padding-left: 22px;
        border-left: 1px solid white;
        border-right: none;
    }

    .footerpoints-3 ul {
        padding-left: 22px;
        border-right: none;
        border-left: 1px solid white;
    }

    .footerpoints-1 {
        margin-top: 10px;
    }

    .footerpoints-2 {
        margin-top: 10px;
    }

    .footerpoints-3 {
        margin-top: 10px;
    }
    .section-1 {

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 123vh;
    }

    .section--3-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .section1-image-parent {
        width: 267px;
        height: 229px;
        margin: auto;
    }

    .card1 {
        width: 86%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        height: 120px;
        box-shadow: 2px 2px 10px rgb(143 143 143);
    }

    .left-side {
        display: flex;
        justify-content: flex-start;
        width: 102%;
    }

    .searchbar {
        /* line-height: 4.0; */
        margin-top: 15px;
        display: flex;
        margin-left: 0px;
    }

    nav {
        display: flex;
        position: relative;
        width: 100%;
        height: 64px;
        background-color: #3048aa;
        padding: 0 8px;
    }
    .first-item {
        width: 77.3%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 34px 20px;
        border-radius: 20px;
        align-items: CENTER;
        box-shadow: 2px 2px 12px #c3c3c3;
    }

    .second-item {
        width: 77.3%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 34px 20px;
        border-radius: 20px;
        align-items: CENTER;
        box-shadow: 2px 2px 12px #c3c3c3;
    }

    .third-item {
        width: 77.3%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 34px 20px;
        border-radius: 20px;
        align-items: CENTER;
        box-shadow: 2px 2px 12px #c3c3c3;
    }

    .section-3 {
        margin-top: -21px;
    }

    .image {
        width: 161px;
        height: 155px;
    }

    .card {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 4px #c3c3c3;
        width: 74%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }

    .picture {
        width: 150px;
        height: 150px;
    }
    .card {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 4px #c3c3c3;
        width: 71%;
    }

    .picture {
        width: 150px;
        height: 150px;
    }
    .section-1 {

        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 123vh;
    }

    .section--3-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .section1-image-parent {
        width: 267px;
        height: 229px;
        margin: auto;
    }

    .card1 {
        width: 86%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        height: 120px;
        box-shadow: 2px 2px 10px rgb(143 143 143);
    }

    .left-side {
        display: flex;
        justify-content: flex-start;
        width: 102%;
    }

    .searchbar {
        /* line-height: 4.0; */
        margin-top: 15px;
        display: flex;
        margin-left: 0px;
    }

    nav {
        display: flex;
        position: relative;
        width: 100%;
        height: 64px;
        background-color: #3048aa;
        padding: 0 8px;
    }
    .searchbar {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .searchbar {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .section-1 {
        height: 149vh;
    }
}
.browse {
    justify-content: center;    
    align-items: center;
}
.browse span:nth-child(1) {
    font-weight: normal;
    padding-left: 10px;
}

/* Navbar CSS Ends */






/* Slider CSS Starts */
.slider-container {
    width: 100%;
    height: 56vh;
    opacity: 1;
    position: relative;
    display: flex;
    /* box-shadow: 3px 3px 11px grey; */
    overflow: hidden;
}


article {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 90vh;
}


article img {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.prev {
    position: absolute;
    top: 200px;
    background: #3048aa;
    width: 3.25rem;
    height: 3.25rem;
    display: grid;
    place-items: center;
    border: transparent;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    left: 1%;
}

.prev:hover,
.next:hover {
    background: #4259b4;

}

.fa-angle-left {
    color: white;
}

.fa-angle-right {
    color: white;
}

.next {
    position: absolute;
    top: 200px;
    background: #3048aa;
    width: 3.25rem;
    height: 3.25rem;
    display: grid;
    place-items: center;
    border: transparent;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    right: 1%;

}

.activeSlide {
    opacity: 1;
    transform: translateX(0);

}

.nextSlide {
    transform: translateX(100%);
}

.lastSlide {
    transform: translateX(-100%);
}

.image {
    border-radius: none;
}

.first-button button {
    background-color: #223378;
    color: white;
    outline: none;
    border: none;
    padding: 7px 33px;
    font-size: 30px;
    border-radius: 25px;

}

.first-button {
    z-index: 12;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Slider CSS Ends */






/* First Component CSS Starts */
.slide-container {
    width: 100%;
    height: 70vh;
}



.first-item {
    width: 25.3%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 2px 2px 12px #c3c3c3;
    ;
}

.second-item {
    width: 25.3%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #c3c3c3;
    ;
    align-items: center;
}

.third-item {
    width: 25.3%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #c3c3c3;
    ;
    align-items: center;
}

.third-item .title .title-starts {
    padding-left: 17px;

}

.first-item .title .title-starts {
    padding-left: 17px;

}

.second-item .title .title-starts {
    padding-left: 17px;

}

.know-more {
    color: #223378;
    font-weight: 600;
}
.know-more span {
    font-size: 18px;
    color: #223378;
    margin-left: 10px;
    /* font-weight: 600; */
    
}


.title-items {
    line-height: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    line-height: 0.7;
}

.title-starts {
    padding-left: 30px;
}

.title-ends {
    padding-left: 0px;
    font-weight: 600;
}

/* First Component CSS Ends */





/* Second Component CSS Starts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins';
}

.section-3 {
    margin-top: 171px;
    padding: 0 20px;
    margin-bottom: 50px;
    /* display: flex; */
}

.university-images {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.image {
    width: 170px;
    height: 170px;
    /* border: 15px solid rgb(240, 240, 240); */
    box-shadow: 1px 1px 10px grey;
    padding: 30px;
    border-radius: 20px;

}

.image img {
    width: 100%;
    height: 100%;
}

.section-3 .first-heading h1 {
    font-weight: 3000;
    display: flex;
    justify-content: center;
    /* justify-content: center; */

}

.section-3 .first-heading {
    margin: 0 auto;
}

.section-4 {
    position: relative;
}

.section-4 .second-heading {
    margin: 0 auto;
}

.section-4 .second-part {
    display: flex;
    justify-content: center;
    margin: 7px auto;
}

.section-4 .second-heading h1 {
    font-weight: 900;
    display: flex;
    justify-content: center;

}

.left {
    position: absolute;
    right: 40px;
    top: 60px;
}




article img {
    /* height: 230px; */
    /* border-radius: 20px; */
    width: 100%;
    height: 100%;
}

.section-5 {
    margin-top: 20px;
    padding: 0 20px;
}

.titles {
    position: absolute;
    background-color: #3048aa;
    color: white;
    border-top-right-radius: 20px;
    top: 0;
    z-index: 1;
    right: 0;
    text-align: center;
    border-top-left-radius: 20px;
    /* border-radius: 10px; */
    padding: 5px 2px;
    font-size: 20px;
    width: 100%;
}

.third-heading {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.third-heading button {
    /* display: flex; */
    /* justify-content: center; */
    padding: 10px 30px;
    /* margin: 0 auto; */
    background-color: #223378;
    color: white;
    /* text-align: center; */
    font-size: 20px;
    overflow: none;
    border: none;
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 10px;


}

/* Second Component CSS Ends */






/* About Component CSS Starts */
* {
    font-family: 'poppins';
}

.first-heading {
    display: flex;
    margin-top: 30px;
}

.first-heading h1 {
    margin: 0 auto;
    font-weight: 700;
    font-size: 43px;
}

.first-parargraph {
    text-align: center;
    margin: 20px 30px;

    /* width: 54%; */
    
    
}

.first-parargraph p {
    color: rgb(80, 80, 80);
    font-size: 16px;
}

/* About Component CSS Ends */






/* Testimonial Component CSS Starts */
.first-heading {
    display: flex;
    margin-top: 30px;
}

.first-heading h1 {
    margin: 0 auto;
    font-size: 32px;
}


.container {
    display: flex;
    padding: 30px 20px;
    justify-content: space-around;

}

.card {
    padding: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 4px #c3c3c3;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    font-weight: 600;
    justify-content: center;
}

.name h3 {
    font-weight: 700;
}

.name p {
    font-weight: 400;
    text-align: center;
}

.picture {
    width: 200px;
    height: 200px;
}

.picture img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}


.cross .fa-times {
    opacity: 1;
}

/* .slide {
    width: 100%;
    height: 85vh;
    position: absolute;
    display: none;
} */
.slide-container {
    position: relative;
}

.scroll-portion {
    position: absolute;
    top: -20px;
    left: 40%;
}

.slide-container .slide.fade {
    animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide img {
    /* height: 230px; */
    border-radius: 0px;

}

/* Testimonial Component CSS Ends */








/* Web Development Component CSS Starts */
.web-1 {
    background-image: url('./images/webBackground.jpg');
    height: 29vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.web-heading h3 {
    color: white;
    font-weight: 900;
    font-size: 40px;
    text-shadow: 3px 3px rgb(3, 3, 3, 0.5);
    padding: 30px 0px 0px 30px;
}

.section-5 h3 {
    font-size: 30px;
    font-weight: 900;
}

.section-5 {
    margin-top: 30px;
}

.web-2 h3 {
    font-size: 25px;

    font-weight: 600;
}

.web-2 h4 {
    padding-top: 20px;
    font-weight: 600;
}

.web-2 p {
    padding-left: 30px;
}

.web-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.mern-image {
    border-radius: 39px;
}

.mern-image img {
    border-radius: 30px;
}



.text {
    width: 83%;
}

.web-heading h3 {
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 52px;
}

@media screen and (max-width: 375px) {
    .paragraph {
        font-size: 14px;
    }
}

/* Web Development Component Ends */




/* FullStack Development Component Starts */
* {
    margin: 0;
    padding: 0;
}

.section1-heading ul li {
    list-style-type: disc;
    font-size: 18px;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(179, 240, 255);
    /* Used if the image is unavailable */
    height: 50vh;
    /* You must set a specified height */
    width: 100%;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    padding: 0px 60px;
}

.section1-heading {
    padding: 30px 0px;

}

.section1-heading h2 {
    line-height: 40px;
    font-size: 39px;
    font-weight: bolder;
}

.section1-heading h3 {
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.section1-image-parent {
    width: 300px;
    height: 300px;
}

.section1-image-parent img {
    width: 100%;
    height: 100%;

}

.section--2 {
    padding: 30px 60px;
}

.section--2 h3 {
    font-weight: 600;
}

.section--2 h4 {
    font-weight: 600;
    font-size: 18px;
}

.section--3 {
    padding: 30px 60px;
}

.section--3 h2 {
    font-size: 39px;
    font-weight: 600;
}

.card1 {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    box-shadow: 2px 2px 10px rgb(143, 143, 143);
}

.section--3-card {
    display: flex;
    justify-content: space-between;
}

.section--4 {
    padding: 30px 60px;
}

.section--4 h3 {
    font-size: 25px;
    font-weight: 600;
}

.section--5 {
    padding: 30px 60px;

}

.section--5 h1 {
    font-size: 39px;
    font-weight: 900;
}

.header {
    background-color: rgb(114, 223, 250) !important;
}


/* 
@media screen and (max-width: 375px) {

} */

@media screen and (max-width: 320px) {
    .section-1 {
        height: 149vh;
    }
}

/* FullStack Development Component Ends */


/* Footer Starts */
.last-container {
    background-image: url('./images/wave.svg');
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer-content {
    position: absolute;
    display: flex;
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    top: 250px;
}

.logo1 {
    width: 100px;
    height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;

}
.logo1 img{
    width: 120%;

}

.paragraph p {
    color: white;
}

.footerpoints-1 li {
    color: white;
}

.footerpoints-1 li h5 {
    color: white;
    font-weight: 600;
}

.footerpoints-1 ul {
    padding-right: 40px;
    border-right: 1px solid white;
}

.footerpoints-2 li {
    color: white;
}

.footerpoints-2 li h5 {
    color: white;
    font-weight: 600;
}

.footerpoints-2 ul {
    padding-right: 40px;
    border-right: 1px solid white;
}

.footerpoints-3 li {
    color: white;
}

.footerpoints-3 li h5 {
    color: white;
    font-weight: 600;
}

.footerpoints-3 ul {
    padding-right: 40px;
    /* border-right: 1px solid white; */
}

footer {
    padding: 12px 0px;
    text-align: center;
}



/* Footer Ends */













.slide-container {
    width: 100%;
    height: 70vh;
}


.first-item {
    width: 25.3%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 2px 2px 12px #c3c3c3;
    ;
}

.second-item {
    width: 25.3%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #c3c3c3;
    ;
    align-items: center;
}

.third-item {
    width: 25.3%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 12px #c3c3c3;
    ;
    align-items: center;
}

.third-item .title .title-starts {
    padding-left: 17px;

}

.first-item .title .title-starts {
    padding-left: 17px;

}

.second-item .title .title-starts {
    padding-left: 17px;

}

.know-more {
    color: #223378;
    font-weight: 600;
}



.title-items {
    line-height: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    line-height: 0.7;
}

.title-starts {
    padding-left: 30px;
}

.title-ends {
    padding-left: 0px;
    font-weight: 600;
}




/* First Component CSS Ends */


/* Contact Us Starts */

.contact_1 {
    background-image: url('./images/contact-background.jpg');
    height: 79vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.contact_content {
    display: flex;
    flex-direction: column;
    height: 79vh;
    width: 55%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contact_content h2 {
    color: white;

    font-weight: 900;
    font-size: 40px;
}

.contact_content p {
    color: white;
    text-align: center;
}

.contact_content button {
    background: #223378;
    color: white;
    outline: none;
    border: none;
    font-size: 29px;
    padding: 7px 30px;
    border-radius: 10px;
}

.contact_2 {
    padding: 40px 60px;
}

.three_portion {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    /* justify-content: space-around; */
}

.contact2_portions {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact2_firstPortion {
    background: rgb(243, 243, 243);
    box-shadow: 2px 2px 15px grey;
    padding: 1rem;
    border-radius: 20px;
    margin: 2rem 0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 50%;
    height: 200%;
}

.contact2_firstPortion .contact2_firstPortion_right h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.contact2_firstPortion .contact2_firstPortion_right p {
    margin: 0;
    font-size: 13px;
    color: grey;
}

.fa-phone {
    display: flex;
    background-color: #223378;
    padding: 14px;
    color: white;
    border-radius: 50%;
    font-weight: 900;
}

.contact2_secondPortion {
    background: rgb(243, 243, 243);
    box-shadow: 2px 2px 15px grey;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 50%;
    height: 200%;
}

.contact2_secondPortion .contact2_secondPortion_right h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.contact2_secondPortion .contact2_secondPortion_right p {
    margin: 0;
    font-size: 13px;
    color: grey;
}

.fa-envelope {
    display: flex;
    background-color: #223378;
    padding: 14px;
    color: white;
    border-radius: 50%;
    font-weight: 900;
}

.contact2_thirdPortion {
    background: rgb(243, 243, 243);
    box-shadow: 2px 2px 15px grey;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 50%;
    height: 200%;
}

.contact2_thirdPortion .contact2_thirdPortion_right h4 {
    font-size: 20px;
    margin-bottom: 0;
}

.contact2_thirdPortion .contact2_thirdPortion_right p {
    margin: 0;
    font-size: 13px;
    color: grey;
}

.fa-map-marker {
    display: flex;
    background-color: #223378;
    padding: 14px;
    color: white;
    border-radius: 50%;
    font-weight: 900;
}

.contact2_form {
    width: 42%;
    display: flex;
    border-radius: 20px;
    justify-content: flex-start;
    background: rgb(243, 243, 243);
    box-shadow: 2px 2px 15px grey;
    padding: 1rem;
}

.form form input {
    width: 48%;
    background: rgb(255, 255, 255);
    outline: none;
    border: none;
    margin: 5px 7px 5px 0px;
    padding: 5px;
    border-radius: 8px;

}

.form form input::placeholder {
    color: grey;
}

.form form h2 {
    font-weight: 900;
}

textarea {
    border-radius: 8px;
    padding: 5px;
    outline: none;
    border: none;
    resize: none;
    width: 97.5%;
    margin-top: 10px;
}

.form form button {
    background-color: #223378;
    padding: 7px 10px;
    margin-top: 8px;
    color: white;
    outline: none;
    border: none;
    border-radius: 8px;
}

.map {
    margin: 100px 0px;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map iframe {
    border-radius: 30px;
    box-shadow: 2px 2px 15px grey;

}

.map_heading {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.map_heading h1 {
    font-weight: bolder;
}

.map_heading p {
    /* text-align: center; */
    width: 60%;
    margin: 0 auto;
}


/* Contact Us Ends */
@media screen and (max-width: 768px) {
    .right {
        /* width: 25.3%; */
        color: white;
        display: block;
        transform: rotate(-90deg);
        /* line-height: 0.4; */
        margin-top: -10px;
    }
    .left-side {
        display: flex;
        justify-content: flex-start;
        width: 58%;
    }

    .three-lines {
        display: block;
        position: absolute;
        right: 20px;
        top: 11px;
        border: 1px solid white;
        padding: 5px 10px;
        line-height: 1;
        border-radius: 5px;
    }

    .nav-2 {
        display: flex;
        padding: 0 0px;
        position: relative;

    }
  
    .second-part {
        opacity: 0; 
        z-index: 3;
        position: absolute;
        width: 100%;
        flex-direction: column;
        background: grey;
    }

    .second-part ul {
        align-items: center;
        width: 100%;
        flex-direction: column;

    }

    
    .cross {
        display: block;
        color: white;
        position: absolute;
        right: 0;
    }
    .left-side {
        display: flex;
        justify-content: flex-start;
        width: 58%;
    }
/* 
    .right {
        display: block;
    } */

    .right-side {
        display: none;
    }

    .logo {
        width: 64px;
        height: 59px;
    }

    .section-3 {
        margin-top: 399px;
        padding: 0 20px;
        margin-bottom: 50px;
        /* display: flex; */
    }

    .section-1 {
        height: 81vh;
    }

    .section1-heading ul {
        padding-left: 0rem;
    }

    .section--2, .section--4, .section--5 {
        padding: 30px 10px;
    }

    .section1-heading h2 {
        font-size: 32px;
    }

    .section1-heading h3 {
        line-height: 27px;
    }
    .image {
        margin: 15px;
        width: 206px;
        height: 173px;
    }

    .university-images {

        flex-wrap: wrap;
    }

    .card {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 4px #c3c3c3;
        width: 55%;
    }
    .third-heading button {

        width: 39%;
    }

    .web-heading h3 {
        color: white;
        font-weight: 900;
        font-size: 34px;
    }

    .section-5 h3 {
        font-size: 30px;
        text-align: center;
        margin: 20px 0;
    }
    .left-side {
        display: flex;
        justify-content: flex-start;
        width: 100%;

    }
    .web-heading h3 {
        font-size: 34px;
    }

    .logo {
        width: 64px;
        height: 59px;
    }

    .section-1 {
        height: 81vh;
    }

    .section1-heading ul {
        padding-left: 0rem;
    }

    .section--3, .section--2, .section--4, .section--5 {
        padding: 30px 10px;
    }

    .section1-heading h2 {
        font-size: 32px;
    }

    .section1-heading h3 {
        line-height: 27px;
    }
    .footer-content {
        padding: 0 0px;
    }
    ul.link_padding li {
        color: white;
    }
    .contact_2 {
        padding: 40px 5px;
    }

    .map iframe {
        border-radius: 0px;
    }
    .paragraph p {
        display: none;
    }
    .team1 {
        margin-top: 50px;
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* .second-part ul li a {
        color: white;

    } */
    .team_firstpart {
        width: 90%;
    }
    .team_firstpart p {
        width: 90%;
        text-align: center;
    }
    .imageofteam {
        width: 621px;
        height: 290px;
    }
    .team_firstpart h2 {
        text-align: center;
    }
    .teamimages {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutus2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .aboutus2_image {
        width: 71%;
    }
    .aboutus3 {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .aboutus3_image {
        width: 68%;
    }
    .aboutus3_content {
        width: 71%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .aboutus4 {
        margin-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        flex-wrap: wrap;
    }
    .aboutus4_image {
        width: 68%;
    }
    .aboutus4_content {
        width: 71%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }
    .newsletter_heading h5 {
        font-weight: 600;
        text-align: center;
        font-size: 25px;
        line-height: 1.2;
    }
    .newsletter_heading p {
        font-size: 17px;
        text-align: center;
    }
    .items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 89vh;
        bottom: 150px;
    }
    /* .section-3 {
        margin-top: 459px;
      } */
      .items .first-item, .items .second-item, .items .third-item {
        width: 88%;
        display: flex;
        flex-direction: row;
        padding: 30px 10px;

      }
      
      .image img {
        width: 99%;
        height: 99%;
      }
      .image {
        margin: 10px;
        width: 127px;
        height: 127px;
      }
      ul.link_padding {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        align-items: flex-start;
        color: black;
        padding-left: 10px;
        padding-top: 20px;
    }


    ul.link_padding li {
        padding-left: 10px;
        /* color: white; */
    }

    .three-lines {
        display: block;
        position: absolute;
        right: 20px;
        top: 11px;
        border: 1px solid white;
        padding: 5px 10px;
        line-height: 1;
        border-radius: 5px;
    }

    section .first-part {
        width: 80px;
        display: none;
    }


    .first-part {
        display: none;
    }

    .icon-up {
        display: none;
    }

    .nav-2 {
        display: flex;
        padding: 0 0px;
        background: white;
    }


    .first-item, .second-item, .third-item {
        width: 30.3%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: space-between;
        padding: 16px 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 12px rgb(17 13 13);
        /* align-items: center; */
    }

    .image {
        margin-left: 10px;
        width: 153px;
        height: 140px;
        /* border: 15px solid rgb(240, 240, 240); */
        padding: 19px;
        border-radius: 20px;
    }

    .third-heading button {

        margin: 0 auto;
        background-color: #223378;
        color: white;
        text-align: center;
        padding: 10px 10px;
        font-size: 20px;
        border-radius: 15px;
        font-weight: 600;
        width: 27%;
        margin-bottom: 10px;
    }

    .first-parargraph p {
        width: 85%;
        margin: 0 auto;
        /* margin: 0 auto; */
    }

    .cross .fa-times {
        display: block;
        color: white;
        font-size: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .container {
        display: flex;
        padding: 30px 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        margin: 10px;
        width: 51%;
    }

    .second-part {
        display: flex;
        background-color: #3048aa;
        align-items: center;
        justify-content: center;
        /* margin: 0 auto; */
    }

    ol, ul {
        padding-left: 0rem;
    }
}


/* Team Portion Starts */

.contact1 {
    background: linear-gradient(rgb(34, 51, 120, 0.4) , rgb(34, 51, 120, 0.4)) , url('./images/teamimages.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* background-attachment: fixed; */
    /* background-color: #223378;     */
}
.contact_heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.contact_heading h2 {
    color: white;
    font-weight: 900;
    font-size: 59px;
}
.team1 {
    /* width: 100%; */
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}
.imageofteam {
    width: 40%;
}
.imageofteam img {
    width: 100%;
    /* box-shadow: 2px 2px 12px grey; */
}
.team_firstpart, .team_firstpart p {
    width: 50%;
    /* text-align: center; */
}
.team_firstpart h2 {
    font-weight: 900;
    font-size: 50px;
}
.team3 {
    margin-top: 100px;
    margin: 100px 100px 0 100px;
}
.teamimages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.face_image {
    position: relative;
    width: 350px;
    height: 300px;
}
.face_image img {
    border-radius: 50%;
    width: 100%;    
    height: 100%;
}
.teamimage1 {
    text-align: center;
}
.teamimage1 h3 {
    font-weight: 600;
}

/* Team Portion Ends */



/* Hover Effect Starts */

.hover_effect {
    opacity: 0;
    transition: 1s ease;
    position: absolute;
    background: rgb(0, 0, 0 , 0.6); 
    border-radius: 50%;
    top: 0;
    cursor: pointer;
    
}
.hover_icons {
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}
.face_image:hover .hover_effect{
    opacity: 1;
    width: 350px;
    height: 300px;
}
.hover_icons i {
    padding-left: 5px;
    font-size: 50px;
    color: white;
}
.hover_icons .fa-facebook:hover {
    color: blue;
}
.hover_icons .fa-linkedin:hover {
    color: rgb(0, 0, 107);
}

.hover_icons .fa-instagram:hover{

    color : linear-gradient();
    background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    background-clip: text;
  -webkit-text-fill-color: transparent;
}
    


/* Hover Effect Ends */

.right {
    /* width: 25.3%; */
    opacity: 0;
    /* transform: rotate(-90deg); */
    /* line-height: 1.4; */
    padding-right: 10px;
    padding-bottom: 20px;
}


/* About Us Starts */

.aboutus1 {
    
        background: linear-gradient(rgb(34, 51, 120, 0.4) , rgb(34, 51, 120, 0.4)) , url('./images/aboutus1.jpg');
        width: 100%;
        height: 55vh;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        /* background-attachment: fixed; */
        /* background-color: #223378;     */
    }
    .aboutus1_heading {
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: 100%;
        text-align: center;
    }
    .aboutus1_heading h2 {
        color: white;
        font-weight: 900;
        font-size: 60px;
    }
    .aboutus1_heading p {
        color: white;
        width: 50%;
    }
    .aboutus2 {
        margin-top: 100px;
        display: flex;
        justify-content: space-around;
        display: flex;
        justify-content: space-around;
    }
    .aboutus2_image {
        width: 20%;
        flex-wrap: wrap;
    }
    .aboutus2_image i {
        margin: 0 auto;
        font-size: 60px;
        margin-bottom: 30px;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .aboutus3 {
    margin-top: 100px;    
    display: flex;
    justify-content: space-evenly;

    }
    .aboutus4 {
    margin-top: 100px;    
    display: flex;
    justify-content: space-evenly;

    }
    .aboutus3_image {
        width: 40%;

    }
    .aboutus4_image {
        width: 40%;

    }


    .aboutus3_image img {
        width: 100%;
    }
    .aboutus3_content .aboutus3_content_heading h2 {
        font-weight: 900;
        padding-bottom: 5px;
        text-align: center;
        width: 190px;
        border-bottom: 2px solid black;
    }
    .aboutus3_content .aboutus3_content_paragraph p  {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .aboutus3_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aboutus4_content .aboutus4_content_heading h2 {
        font-weight: 900;
        padding-bottom: 5px;
        text-align: center;
        width: 190px;
        border-bottom: 2px solid black;
    }
    .aboutus4_content .aboutus4_content_paragraph p  {
        width: 100%;
        text-align: center;
        font-size: 20px;
    }
    .aboutus4_content {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .newsletter {
        display: flex;
        margin-top: 100px;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* align-items: center; */
    }
    .newsletter_heading h5 {
        font-weight: 600;
        font-size: 30px;
        line-height: 0.7;
    }
    .newsletter_heading p {
        font-size: 20px;
    }
    .newsletter_searchbox input:first-child {
        /* width: 100%; */
        padding: 10px 5px;
        border-radius: 10px;
        outline: none;
        border: 1px solid rgb(173, 173, 173);
        width: 300px;
    }
    .newsletter_searchbox button {
        /* width: 100%; */
        margin-left: 5px;
        color: white;
        font-weight: 600;
        background-color: #223378;
        border-radius: 10px;
        outline: none;
        border: 1px solid rgb(173, 173, 173);
        padding: 10px 20px;
        /* width: 300px; */
    }

    

/* About Us Ends */

@media screen and (max-width: 1338px) {
    .second-part ul li:nth-child(6) {
        display: none;
    } 
}
@media screen and (max-width: 1196px) {
    .second-part ul li:nth-child(5) {
        display: none;
    } 
}
@media screen and (max-width: 984px) {
    .second-part ul li:nth-child(4) {
        display: none;
    } 
}
@media screen and (max-width: 1278px) {
    .items {
        display: flex;
        /* margin: 20px; */
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        height: auto;

    }
    /* .first-item, .second-item, .third-item {
        width: 45%;
        display: flex;
        margin: 5px;
    } */
}
@media screen and (max-width: 1280px) {
    .items .third-item {
        display: none;
    }
    .items .first-item, .items .second-item {
        width: 40%;
    }

}
@media screen and (max-width: 1024px) {
    .second-part ul li:nth-child(4) {
        display: none;
    }
    .searchbar {
        display: none;
    }
    .contact_content {
        text-align: center;
    }

    .form form input {
        width: 98%;
    }

    .contact2_form {
        width: 48%;
    }

    .map {
        margin: 23px 0px;
    }

    .map_heading p {
        /* text-align: center; */
        width: 90%;
    }
    .contact_2 {
        padding: 40px 91px;

    }

    .contact2_firstPortion, .contact2_secondPortion, .contact2_thirdPortion {
        width: 74%;
    }

    .three-portion {
        align-items: center;
    }
    .first-item, .second-item, .third-item {
        width: 25.3%;
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: space-between;
        padding: 16px 20px;
        border-radius: 20px;
        /* box-shadow: 2px 2px 12px rgb(17 13 13); */
        /* align-items: center; */
    }

    .image {
        width: 177px;
        height: 177px;
        /* border: 15px solid rgb(240, 240, 240); */
        padding: 30px;
        border-radius: 20px;
    }

    .section-4 {
        margin: 0 44px;
    }

    .section-4 .second-part {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .card {
        padding: 10px;
        background-color: rgb(255, 255, 255);
        /* box-shadow: 2px 2px 4px black; */
        width: 30%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }
    .footerpoints-1 ul, .footerpoints-2 ul, .footerpoints-3 ul {
        padding-left: 0rem;
    }

    .footer-content {
        padding: 0 20px;
    }
    
    .section-1 {
        height: 70vh;
        padding: 0px 6px;
    }

    .section1-heading {
        padding: 30px 10px;
    }
    .section-3 {
        margin-top: 153px;
    }

 
    .image {
        width: 172px;
        height: 155px;
        /* border: 15px solid rgb(251 251 251); */
    }

   

    .first-parargraph p {
        width: 54%;
        margin: 0 auto;
        font-size: 14px;
    }
    .section-1 {
        height: 70vh;
        padding: 0px 6px;
    }

    .section1-heading {
        padding: 30px 10px;
    }

 
}
.btnslider{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    /* background-color: aqua; */
}
.testimonial h1{
text-align: center;
}
.testimonial h3{
    text-align: center;
    }
.slidercard{
    cursor: pointer;
    width: 700px;
    height: 350px;
    background-color: ghostwhite;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-top: 10px;
}
.slidercard img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.slidercard p{
        margin: 30PX 0PX;
        text-align: center;
        font-size: 14px;
        padding: 0px 50px;
        margin: auto;
        margin-top: 20px;
}
.slidercard h4{
    text-align: center;
}
.slidercard h6{
    text-align: center;
}



.sliderbtn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderbtn .b1{
    width: 20px;
    height: 4px;
    background-color: rgb(189, 187, 187);
    outline: none;
    border: none;
    margin: 2px;
    margin-top: 20px;
}
.sliderbtn .b2{
    width: 50px;
    height: 4px;
    background-color: #18c0ff;
    outline: none;
    border: none;
    margin: 2px;
    margin-top: 20px;
}
.sliderbtn .b3{
    width: 20px;
    height: 4px;
    background-color: rgb(189, 187, 187);
    outline: none;
    border: none;
    margin: 2px;
    margin-top: 20px;
}
.sliderbtn .b3:hover{
    background-color: #223378;
}
.sliderbtn .b1:hover{
    background-color: #223378;
}

article{
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
article.nextSlide{
            transform: translateX(100%);
}
article.activeSlide{
        transform: translateX(0);
        opacity: 1;
}
article.lastSlide{
        transform: translate(-100%);
}
@media screen and (max-width:720px)
 {
    .slidercard{
        width: 500px;
        height: 300px;
    }   
    .slidercard p{
        margin: 20PX 0PX;
        font-size: 12px;
}
}
@media screen and (max-width:510px)
 {
    .slidercard{
        width: 300px;
        height: 250px;
    }   
    .slidercard p{
        margin: 5px 0px;
        font-size: 8px;
}
.testimonial h1{
    text-align: center;
    font-size: 25px;
    }
    .testimonial h3{
        text-align: center;
        font-size: 13px;
        }
}
